html {
  -ms-touch-action: none;
  touch-action: none;
}

body, canvas, div {
  display: block;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove spin of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;

  cursor: default;
  color: #888;
  background-color: #333;

  text-align: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  
  /* fix bug: https://github.com/cocos-creator/2d-tasks/issues/791 */
  /* overflow cannot be applied in Cocos2dGameContainer, 
  otherwise child elements will be hidden when Cocos2dGameContainer rotated 90 deg */
  overflow: hidden;
}

#Cocos2dGameContainer {
  position: absolute;
  margin: 0;
  left: 0px;
  top: 0px;

  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}

canvas {
  background-color: rgba(0, 0, 0, 0);
}

a:link, a:visited {
  color: #666;
}

a:active, a:hover {
  color: #666;
}

p.header {
  font-size: small;
}

p.footer {
  font-size: x-small;
}

#splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(BG_Phone.1555c.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.progress-bar {
	position: absolute;
  left: 50%;
  bottom: 177.5px;
  height: 24px;
  width: 300px;     
  transform: translate(-50%,0%) scale(0.8);
  -webkit-transform: translate(-50%,0%) scale(0.8);
}

.progress-bar-outside{
	position: absolute;
    left: 50%;
    bottom: 170px;
    height: 38px;
    width: 307px;     
    transform: translate(-50%,0%) scale(0.8);
    -webkit-transform: translate(-50%,0%) scale(0.8);
}

.progress-bar span {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
}

.progress-bar-outside span {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#loading-bar-outside {
  background-image: url(Empty_Bar.4e459.png);
  background-size: 307px 38px;
  width: 100%;
}

#loading-bar-inside {
	background-image: url(Full_bar.73320.png); 
  background-size: 300px 24px;
  width: 0%;
}

#loading-text {
  position: absolute;
  left: 35%;
  bottom: 190px;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

#loading-text img {
  background-size: cover;
  height: 23.4px;
  width: 92.5px;
}

#game-decor {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

#game-decor img {
  background-size: cover;
  height: 200.5px;
  width: 248px;
}

@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes fadeIn { from { opacity: 0.5; } }